{% load staticfiles %}
    <link href="{% static 'project/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Add jQuery library -->
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js'  %}"></script>


	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js'  %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'project/jquery.fancybox.css'  %}" media="screen" />


{% block body %}
    {% csrf_token %}

    <div id="wrapper">


			<section class="page-header page-header-xs">
				<div class="container">

					<h1>BOOKS LIST</h1>



				</div>
			</section>

            <div class="container">


                    <table class="table table-vertical-middle margin-bottom-60">
                            <thead>
                                    <tr class="size-15">
                                        <th class="text-center hidden-xs width-300 weight-100">BOOK TITLE</th>
                                        <th class="text-center hidden-xs width-300 weight-100">AUTHOR</th>
                                        <th class="text-center hidden-xs width-100 weight-100">PRICE</th>
                                        <th class="text-center hidden-xs width-100 weight-100">AUTHOR CONTACT</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    {% for book in books_list %}

                                    <tr>

                                        <td class="text-center hidden-xs">
                                            <p>{{ book.book_title }}{% if is_librarian == True %} <a href="#editbox" class="fancybox">(EDIT)</a> {% endif %}</p>
                                        </td>
                                        <td class="text-center hidden-xs">
                                            <p>{{ book.book_author}}</p>
                                        </td>
                                        <td class="text-center hidden-xs">
                                            <p>Rs.{{ book.book_price }}</p>
                                        </td>
                                        <td class="text-center hidden-xs">
                                            <p>{{ book.book_author_contact }}</p>
                                        </td>

                                    </tr>
                                    {% endfor %}

                            </tbody>
                    </table>
                {% if is_librarian == True %}
                    <a href="#fancybox" class="fancybox">ADD BOOKS</a>
                {% endif %}


{#                    <a href="#fancybox" class="fancybox">Link to open fancybox</a>#}

                    <div id="fancybox" data-fancybox-group="gallery" style="display: none;">
                        <h1> ADD BOOKS</h1>
                         <form id="myForm" method="POST">
                             {% csrf_token %}
                                <input type="text" id="book_title" placeholder="Book Title" required="required" />
                             <br>
                                <input type="text" id="book_author" placeholder="Book Author" required="required" />
                             <br>
                              <input type="text" id="book_price" placeholder="Book Price" required="required" />
                             <br>
                              <input type="text" id="book_author_contact" placeholder="Author Contact" />
                             <br>
                             <button type="submit">SUBMIT</button>




                         </form>
                    </div>



                    <div id="editbox" data-fancybox-group="gallery" style="display: none;">
                        <h1> EDIT BOOKS</h1>
                         <form id="editForm" method="POST">
                             {% csrf_token %}
                                <input type="text" id="book_title" placeholder="Book Title" required="required" value="{{ book.book_title }}" />
                             <br>
                                <input type="text" id="book_author" placeholder="Book Author" required="required" value="{{ book.book_author }}"/>
                             <br>
                              <input type="text" id="book_price" placeholder="Book Price" required="required" value="{{ book.book_price }}"/>
                             <br>
                              <input type="text" id="book_author_contact" placeholder="Author Contact" value="{{ book.book_author_contact }}"/>
                             <br>
                             <button type="submit">UPDATE</button>




                         </form>
                    </div>




            </div>
    </div>

    <script type="text/javascript">
           $(document).ready(function() {


               $('.fancybox').fancybox();
           });
           </script>



            <script>
            $(document).on('submit','#myForm', function(e){
                e.preventDefault();

               $.ajax({
                   type: 'POST',
                   url: '/project/add_book/',
                   data:{
                       book_title:$('#book_title').val(),
                       book_author:$('#book_author').val(),
                       book_price:$('#book_price').val(),
                       book_author_contact:$('#book_author_contact').val(),
                        csrfmiddlewaretoken:'{{csrf_token}}',
{#                       .done(function(returned_data){#}
{##}
{##}
{#    });#}

                 success : function(info) {

            console.log(info); // log the returned json to the console
            console.log("success"); // another sanity check
        }

        }

               })

           });


    </script>

     <script>
            $(document).on('submit','#editForm', function(e){
                e.preventDefault();

               $.ajax({
                   type: 'POST',
                   url: '/project/edit_book/',
                   data:{
                       book_title:$('#book_title').val(),
                       book_author:$('#book_author').val(),
                       book_price:$('#book_price').val(),
                       book_author_contact:$('#book_author_contact').val(),
                        csrfmiddlewaretoken:'{{csrf_token}}',
{#                       .done(function(returned_data){#}
{##}
{##}
{#    });#}

                 success : function(info) {

            console.log(info); // log the returned json to the console
            console.log("success"); // another sanity check
        }

        }

               })

           });


    </script>

{% endblock %}